@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&family=Roboto&display=swap");

@keyframes slidein {
    0% {
      transform: translateX(0);
    }
    33% {
      transform: translateX(100%);
    }
    66% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    background-color: #363636;

  }
  
  
  html {
    font-size: clamp(12px, 1.75vw, 18px);
  }
  
  body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
  
  main {
    background-color: #272727;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem max(5vw, 2rem);
  }
  @media (max-width: 600px) {
    main {
      grid-template-columns: 1fr;
    }
  }
  
  header,
  footer {
    box-shadow: 0 0 4px 2px #0003;
  }
  
  header,
  footer {
    padding: 1em 5vw;
    background-color: #363636;
  
    font-family: "MuseoModerno", cursive;
    font-family: "Roboto", sans-serif;
  }
  
  a {
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
  }
  
  header {
    top: 0px;
    position: sticky;
    justify-content: space-between;
  }
  
  #banner a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #banner {
    width: 100%;
    height: 25vh;
    background-color: #363636;
    background-size: cover;
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  #banner_logo {
    width: 80px;
    transition: all 0.4s ease;
    animation: slidein 3s ease-in-out;
  }
  
  #banner_logo:hover {
    width: 100px;
  }
  
  #logo_img {
    width: 4rem;
    border-radius: 50%;
    transition: all 0.5s ease;
    box-shadow: 0 0 4px 2px #0002;
  }
  
  header a:first-child:hover > #logo_img {
    transform: rotate(360deg) scale(1.06);
  }
  
  @media (max-width: 600px) {
    header {
      flex-flow: column;
    }
  }
  
  header,
  header > :is(a, nav),
  footer {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  
  p.nav-item {
    padding: 0.5em;
    color: white;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px #0005;
  }
  
  .nav-item:hover {
    cursor: default;
  }
  
  header nav a {
    padding: 0.5em;
    font-size: 1.2rem;
  }
  
  :is(header nav, footer) a:hover {
    transform: scale(1.08);
    text-shadow: 2px 2px 4px #0005;
  }
  
  #company_n {
    transition: all 0.2s ease;
  }
  
  #company_n:hover {
    transform: scale(1.05);
    text-shadow: 2px 2px 4px #0005;
  }
  
  footer {
    color: white;
    gap: 0.5em;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
  }
  
  footer p {
    margin-right: auto;
  }
  
  footer a {
    padding: 0.5em;
  }

.container {
    background-color: #363636;
}

.details {
    display: grid;
    margin: 0px 5px 0 5px;
    padding: 3rem 1rem;
    border: 2px solid white;
    border-radius: 1rem;
    background-color: #fff3;
    color: white;
    text-shadow: 2px 2px 4px #0005;
    margin: 10px;
    padding: 10px;
}
.details h1 {
}
.details h3 {
    margin: 0px;
}

.screen {
    display: flex;
    width: 300px;
    height: 30px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    margin: 80px auto -40px auto;
    background-color: white;
}

.s_label {
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "MuseoModerno", cursive;
    font-family: "Roboto", sans-serif;


}
.screen p {
    font-family: "MuseoModerno", cursive;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
}

.seat {
    width: 20px;
    aspect-ratio: 1/1;
    background: white;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 5px;
}

.occupied {
    background: green;
  width: 20px;
  aspect-ratio: 1/1;
  transition: all 0.2s ease;
  border-radius: 5px;
  box-shadow: 0 0 4px 2px #0002;
}

.seats_group {
    margin: 80px auto 0px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(7, auto);
    gap: 1.2rem;
}
.seat:hover {
    transform: scale(1.3);
    background-color: green;
    box-shadow: 0 0 4px 2px #0002;
}

.confirm {
    margin: 30px 5px 0 5px;
    border: 2px solid white;
    border-radius: 1rem;
    background-color: #fff3;
    color: white;
    text-shadow: 2px 2px 4px #0005;
    padding: 14px;
    font-family: "MuseoModerno", cursive;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
}


.confirm {
    color: white;
    gap: 0.5em;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
  }
  
.confirm input[type="text"] {
    margin-right: auto;
    background-color:#363636;
    text-align: center;
    color: white;
    border: solid 1px black;
}

.confirm input[type="text"]:hover {
    cursor: default;
}

.confirm input[type="submit"] {
    margin-left: 5em;
    background-color: #fff3;
    border-radius: 5px;
    border: solid 1px black;
    color: black;
    cursor: pointer;
    padding: 4px 10px;
    transition: 0.2s ease;
}

.confirm input[type="reset"] {
  margin-left: 5em;
  background-color: #fff3;
  border-radius: 5px;
  border: solid 1px black;
  color: black;
  cursor: pointer;
  padding: 4px 10px;
  transition: 0.2s ease;
}

.confirm input[type="submit"]:hover {
    background-color: #363636;
    box-shadow: 0 0 4px 2px #0002;
    color: white;
    transform: scale(1.15);
}

.confirm input[type="reset"]:hover {
  background-color: #363636;
  box-shadow: 0 0 4px 2px #0002;
  color: white;
  transform: scale(1.15);
}

h3 > span{
  color:red;
  font-size: 130px;
}